#rss-out {
	height: 24px; /* 8x */
	width: 24px; /* 8x */
	border-radius: 3px; /* x */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	position: relative;
	-moz-box-shadow: rgba(255,255,255,0.4) 1px 1px 1px inset, rgba(0,0,0,0.75) 1px 1px 1px;
	-webkit-box-shadow: rgba(255,255,255,0.4) 1px 1px 1px inset, rgba(0,0,0,0.75) 1px 1px 1px;
	box-shadow: rgba(255,255,255,0.4) 1px 1px 1px inset, rgba(0,0,0,0.75) 1px 1px 1px;
	display: inline-block;
}
a:hover #rss-out {
  -moz-box-shadow: rgba(255,255,255,0.4) 1px 1px 1px inset, rgba(255,255,255,0.8) 1px 1px 1px;
  -webkit-box-shadow: rgba(255,255,255,0.4) 1px 1px 1px inset, rgba(255,255,255,0.8) 1px 1px 1px;
  box-shadow: rgba(255,255,255,0.4) 1px 1px 1px inset, rgba(255,255,255,0.8) 1px 1px 1px;
}
#big-white {
	height: 15px; /* 5x */
	width: 15px; /* 5x */
	border-top-right-radius: 15px; /* 5x */
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topright: 15px;
}
#big-orange {
	height: 12px; /* 4x */
	width: 12px; /* 4x */
	border-top-right-radius: 12px; /* 4x */
	-webkit-border-top-right-radius: 12px;
	-moz-border-radius-topright: 12px;
}
#sm-white {
	height: 9px; /* 3x */
	width: 9px; /* 3x */
	border-top-right-radius: 9px; /* 3x */
	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;
}
#sm-orange {
	height: 6px; /* 2x */
	width: 6px; /* 2x */
	border-top-right-radius: 6px; /* 2x */
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
}
#dot {
	height: 3px; /* x */
	width: 3px; /* x */
	border-top-right-radius: 3px; /* x */
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
}
#big-white, #big-orange, #sm-white, #sm-orange, #dot {
	position: absolute;
	bottom: 4px; /*4x*/
	left: 4px; /*4x*/
}
#big-white, #sm-white, #dot {background: white;}
#rss-out, #big-orange, #sm-orange, #left-rect, #bot-rect {background: #ff9933;}